.news-details-root {
  position: relative;
  background-color: #303030;
  background-image: url("https://i.pinimg.com/736x/0a/7e/49/0a7e492d6023137d94558b2f4d38e016.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  z-index: 1;
}

.news-details-root::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.news-details-container {
  color: #fff;
  position: relative;
  z-index: 1;
}

.back-button {
  margin-bottom: 24px;
  background-color: #b82a2a !important;
  color: #fff !important;
  text-transform: none;
}

.back-button:hover {
  background-color: #e90f0f !important;
}

.news-details-title {
  font-weight: 700;
  font-size: 2.125rem; /* Соответствует MUI h4 */
  margin-bottom: 16px;
}

.news-details-date {
  color: #b0b0b0;
  margin-bottom: 16px;
  font-size: 0.875rem; /* MUI body2 */
}

.news-details-image {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
  margin-bottom: 16px;
}

.news-details-paragraph {
  line-height: 1.8;
  text-align: justify;
  font-size: 1rem;
}
